<h1>Movies</h1>


<% @list.bookmarks.each do |b| %>
    <div class="card-product mt-2">
      <img src=<%=b.movie.poster_url %>  />
      <div class="card-product-infos m-3">
        <h2><%= b.movie.title %></h2>
        <p><%= b.movie.overview %></p>
        <p><%= b.movie.rating %></p>
          <%= link_to "Delete", bookmark_path(b), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-flat"%>
      </div>
    </div>


<% end %>



<%= link_to "new bookmark", new_list_bookmark_path(@list), class: "btn btn-gradient m-2 p-2" %>
